@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-toastify/dist/ReactToastify.css';
@font-face {
    font-family: "Helvetica";
    src: url(../../public/font/Helvetica.ttf),
      url(../../public/font/Helvetica-Bold.ttf) format("truetype"),
      url(../../public/font/Helvetica-Oblique.ttf) format("truetype"),
      
  }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  body {
    font-family: "Helvetica", sans-serif !important;
  }
  :root {
    scroll-behavior: smooth;
  }
  .nav-scroll {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: 0.5s linear;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.7px);
    -webkit-backdrop-filter: blur(7.7px);
  } 
  
  
  